@using Microsoft.AspNet.Identity;
@model MSR_Web_App.Models.PortfolioCreateViewModel
@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.js")"></script>
    <script src="@Url.Content("~/Scripts/portfolio-forms.js")"></script>
}
@{
    ViewBag.Title = "Portfolio Creation";
}


<head>
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.js")"></script>
    <script src="@Url.Content("~/Scripts/portfolio-forms.js")"></script>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
</head>

<!--Modal Image View-->
<div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                <img src="" class="enlargeImageModalSource" style="width: 100%;">
            </div>
        </div>
    </div>
</div>
<!--./Modal Image View-->

<script>

    $(function () {
        $(".img-click").on('click', function () {
            jQuery.noConflict();
            $('.enlargeImageModalSource').attr('src', $(this).attr('src'));
            $('#enlargeImageModal').modal('show');
        });
    });
</script>

<body onload="onLoad();">
    <div id="page-layout">

        <div class="row">
            <div class="col-sm-3">
                @using (Html.BeginForm("EditProfilePicture", "UserVeteran"))
                {
                    <div class="row justify-content-sm-center">

                        @if (Model.Veteran.ProfilePicture != null)
                        {
                            <img class="img-click float-left img-fluid" style="width:auto; height:250px; padding-top:0.5em; padding-right:0.5em;" src="@Model.Veteran.ProfilePicture" alt="Portfolio Picture">
                        }
                        else
                        {
                            <img class="img-click float-left img-fluid" style="width:auto; height:250px; padding-top:0.5em; padding-right:0.5em;" src="~/Content/Default_Profile_Pictures.jpg" alt="Portfolio Picture">
                        }
                    </div>
                    <div class="row">
                        <div class="col-12" id="frmProfilePicture">
                            @Html.HiddenFor(m => m.Veteran.Id)
                            @Html.HiddenFor(m => m.Veteran.User_Id)
                            @Html.LabelFor(m => m.Veteran.ProfilePicture, "Profile Picture URL", new { @class = "d-block" })
                        </div>
                        <div class="col-9" style="padding-right: 0px;">
                            @Html.TextBoxFor(m => m.Veteran.ProfilePicture, "", new { @class = "d-inline form-control" })
                        </div>
                        <div class="col-3" style="padding-left: 0px;">
                            <button type="submit" class="btn btn-primary d-inline">Apply</button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-sm-9">
                <!-- BASIC INFORMATION FORM -->
                <h3>Basic Information</h3>
                <form>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Veteran.FirstName, "First Name", new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Veteran.FirstName, "", new { @class = "form-control", @readonly = true })
                    </div>
                </form>
                <form class="form-group">
                    @Html.LabelFor(m => m.Veteran.MiddleName, "Middle Name", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Veteran.MiddleName, "", new { @class = "form-control", @readonly = true })
                </form>
                <form class="form-group">
                    @Html.LabelFor(m => m.Veteran.Surname, "Surname", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Veteran.Surname, "", new { @class = "form-control", @readonly = true })
                </form>
                <form class="form-group">
                    @Html.LabelFor(m => m.Veteran.RegimentNumber, "Service Number", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Veteran.RegimentNumber, "", new { @class = "form-control", @readonly = true })
                </form>
                <form class="form-group">
                    @Html.LabelFor(m => m.Veteran.Battalion, "Battalion", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Veteran.Battalion, "", new { @class = "form-control", @readonly = true })
                </form>
                <form class="form-group">
                    @Html.LabelFor(m => m.Veteran.DOB, "Date of Birth", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Veteran.DOB, "", new { @class = "form-control", @readonly = true })
                </form>
                <form class="form-group">
                    @Html.LabelFor(m => m.Veteran.PreWarOccupation, "Pre-War Occupation", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Veteran.PreWarOccupation, "", new { @class = "form-control", @readonly = true })
                </form>
            </div>
        </div>
        @* Display of dynamic section & content forms*@
        <div class="row">
            <h3>Event Creator</h3>
        </div>
        <div class="row">
            <section class="jumbotron bg-dark w-100">

                @*Loop through Sections in Model and display*@
                @for (int s = 0; s < Model.Sections.Count; s++)
                {
                    <section id="section-@Model.Sections.ElementAt(s).Id" class="section">
                        <p>@Model.Sections.ElementAt(s).EventTitle</p>

                        @*Loop through Contents in each Sections and display*@
                        @for (int c = 0; c < @Model.Sections.ElementAt(s).Contents.Count; c++)
                        {
                            @* defined types of media here *@
                            IEnumerable<string> mediaTypes = new List<string>() { "Text", "Image" };
                            <section id="content-@Model.Sections.ElementAt(s).Contents.ElementAt(c).Id" class="content">
                                @using (Html.BeginForm("EditContent", "UserVeteran"))
                                {

                                    <div class="form-group">
                                        @Html.HiddenFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).Id)
                                        @Html.HiddenFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).Section_Id)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).Title, new { @class = "form-label" })
                                        @Html.TextBoxFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).Title, "", new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).Timestamp, new { @class = "form-label" })
                                        @Html.TextBoxFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).Timestamp, "", new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).MediaType, "Media Type", new { @class = "form-label" })
                                        @Html.DropDownListFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).MediaType, new SelectList(mediaTypes, Model.Sections.ElementAt(s).Contents.ElementAt(c).MediaType), new { @class = "form-control", @id = "dropdown-" + @Model.Sections.ElementAt(s).Id + @Model.Sections.ElementAt(s).Contents.ElementAt(c).Id })
                                    </div>
                                    @* portfolio-forms.js controls which of the media/source fields display depending on how mediatype is populated *@
                                    <div class="form-group">
                                        @Html.LabelFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).Media, "Text Data", new { @class = "form-label", @id = "mediaLabel-" + @Model.Sections.ElementAt(s).Id + @Model.Sections.ElementAt(s).Contents.ElementAt(c).Id })
                                        @Html.TextAreaFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).Media, new { @class = "form-control", @id = "mediaTextArea-" + @Model.Sections.ElementAt(s).Id + @Model.Sections.ElementAt(s).Contents.ElementAt(c).Id })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).Source, "Image URL", new { @class = "form-label", @id = "sourceLabel-" + @Model.Sections.ElementAt(s).Id + @Model.Sections.ElementAt(s).Contents.ElementAt(c).Id })
                                        @Html.TextBoxFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).Source, "", new { @class = "form-control", @id = "sourceTextbox-" + @Model.Sections.ElementAt(s).Id + @Model.Sections.ElementAt(s).Contents.ElementAt(c).Id })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).DisplayPosition, "Display Position", new { @class = "form-label" })
                                        @Html.TextBoxFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).DisplayPosition, "", new { @class = "form-control" })
                                    </div>
                                    <button type="submit" value="Save" name="editContent" class="btn btn-primary">Save Content</button>
                                    <button type="submit" value="Delete" name="editContent" class="btn btn-danger">Delete Content</button>
                                }
                            </section>
                        }

                        @* Form for adding content to a section *@
                        @using (Html.BeginForm("EditSection", "UserVeteran"))
                        {
                            @Html.HiddenFor(m => m.section.Id, new { Value = Model.Sections.ElementAt(s).Id })
                            @Html.HiddenFor(m => m.section.Veteran_Id, new { Value = Model.Sections.ElementAt(s).Veteran_Id })
                            @Html.HiddenFor(m => m.content.Section_Id, new { Value = Model.Sections.ElementAt(s).Id })
                            @Html.HiddenFor(m => m.content.Veteran_Id, new { Value = Model.Sections.ElementAt(s).Veteran_Id })
                            @Html.HiddenFor(m => m.content.Title, new { Value = "New Content" })
                            @Html.HiddenFor(m => m.content.MediaType, new { Value = "Text" })

                            <button name="editSection" type="submit" class="btn btn-primary" value="AddContent">Add Content</button>
                            <button type="button" id="btnModal" class="btn btn-info">Edit Event Map</button>
                            <div class="modal fade" id="mapModal" role="dialog" data-url='@Url.Action("_MapModal","UserVeteran", new {
                                                                                     Id = Model.Sections.ElementAt(s).Id,
                                                                                     Veteran_Id = Model.Sections.ElementAt(s).Veteran_Id
                                                                                 })'></div>
                            <button name="editSection" type="submit" class="btn btn-danger" value="Delete">Delete Event</button>

                            <script>
                                $(document).ready(function () {
                                    $('#btnModal').click(function () {
                                        var url = $('#mapModal').data('url');
                                        jQuery.noConflict();
                                        $.get(url, function (data) {
                                            $('#mapModal').html(data);
                                            $('#mapModal').modal('show');

                                        });
                                    });
                                });

                            </script>

                        }
                    </section>

                }
            </section>
        </div>
        <div class="row">
            @* auto generate ID code here *@
            @using (Html.BeginForm("AddSection", "UserVeteran"))
            {
                <form>
                    <div class="form-group" id="frmAddEvent">
                        @Html.HiddenFor(s => s.section.Id)
                        @Html.HiddenFor(s => s.section.Veteran_Id, new { Value = User.Identity.GetUserName() })

                        @Html.LabelFor(s => s.section.EventTitle, "Event Title", new { @class = "form-label" })
                        @Html.TextBoxFor(s => s.section.EventTitle, "", new { @class = "form-control" })

                        @Html.LabelFor(s => s.section.Approved, "Approved", new { @class = "form-label" })
                        @Html.TextBoxFor(s => s.section.Approved, "", new { @class = "form-control" })

                        @Html.LabelFor(s => s.section.DisplayPosition, "Display Position", new { @class = "form-label" })
                        @Html.TextBoxFor(s => s.section.DisplayPosition, "", new { @class = "form-control" })

                        <button type="submit" class="btn btn-primary" id="btnAddEvent">Add Event</button>
                    </div>
                </form>
            }
        </div>
    </div>
</body>