@model MSR_Web_App.Models.VeteranSearchModel

@{
    ViewBag.Title = "Veterans";
}

<section id="page-layout2">
    <div>
        <div class="row">
            <!--Search Field-->
            <form class="col align-self-center">
                <div class="row form-group">
                    <input type="text" class="col-10 form-control" id="SearchField" placeholder="Search For Veteran" name="SearchString" value="">
                    <button type="submit" class="col-2 btn btn-primary">Submit</button>
                </div>
                <i class="text-danger" id="info-warning" style="display:block;"></i>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="searchType" id="inlineRadio1" value="Name" checked>
                    <label class="form-check-label text-black-50" for="inlineRadio1">Name</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="searchType" id="inlineRadio2" value="Regiment">
                    <label class="form-check-label text-black-50" for="inlineRadio2">Service Number</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="searchType" id="inlineRadio3" value="Address">
                    <label class="form-check-label text-black-50" for="inlineRadio3">Address</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="searchType" id="inlineRadio4" value="Unit">
                    <label class="form-check-label text-black-50" for="inlineRadio4">Unit</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="searchType" id="inlineRadio5" value="PreWarOccupation">
                    <label class="form-check-label text-black-50" for="inlineRadio5">Pre-War Occupation</label>
                </div>
            </form>
            <!--./Search Field-->
        </div>
        <br>
        <div class="row">
            <!--Results Field-->
            <h3 class="col text-black-50 text-center">Results from the MSR Database</h3>
            <table class="table table-light text-center rounded-bottom">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Service Number
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Unit
                    </th>
                    <th>
                        Pre-War Occupation
                    </th>
                </tr>
                @for (int i = 0; i < Model.Veteran.Count; i++)
                {
                    <tr>
                        <td>
                            @{
                                var fullName = Model.Veteran[i].Surname + ", " + Model.Veteran[i].FirstName;
                                <a href="/veterans/portfolio/@Html.DisplayFor(modelItem => Model.Veteran[i].Id)">@Html.DisplayFor(m => fullName)</a>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Veteran[i].RegimentNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Veteran[i].Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Veteran[i].Battalion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Veteran[i].PreWarOccupation)
                        </td>
                    </tr>
                }
            </table>
            @if (Model.Veteran.Count() == 0)
            {
                <div class="row col-sm-12" style="padding-bottom: 2vh">
                    <p>No results found in MSR Database.</p>
                </div>
            }
            <!--./Results Field-->
            <!--AIF Results-->
            @if (Model.AifResults != null && Model.AifResults.Count > 0)
            {
                <h3 class="col text-black-50 text-center">Partial results from the AIF Database</h3>
                <table class="table table-light text-center rounded-bottom">
                    @{
                        <tr>
                            <th>Service Number</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Battalion</th>
                        </tr>
                        <tbody>
                            @for (int i = 0; i < Model.AifResults.Count; i++)
                            {
                                <tr>
                                    <td>@Model.AifResults[i].RegimentNumber</td>
                                    <td><a href="@Model.AifResults[i].ProfileLink" target="_blank">@Model.AifResults[i].Name</a></td>
                                    <td>@Model.AifResults[i].Address</td>
                                    <td>@Model.AifResults[i].Battalion</td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            }
            <!--./AIF Results-->
        </div>
    </div>
</section>


