@model Tuple<List<MSR_mvc.Models.Section>, MSR_mvc.Models.Veteran, MSR_mvc.Models.ProfilePicture>

@{
    ViewBag.Title = "Index";
}


<!--Modal Image View-->
<div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                <img src="" class="enlargeImageModalSource" style="width: 100%;">
            </div>
        </div>
    </div>
</div>
<!--./Modal Image View-->
<!--Jumbotron-->
<section class="jumbotron bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>

            <!--Left Control-->
            <a class="col-1 btn-floating align-self-center text-center" href="#multi-item-example" data-slide="prev">
                <i class="fa fa-chevron-left"></i>
            </a>
            <!--./Left Control-->
            <!--Card-->
            <div class="card col-8 px-0">
                <div class="row no-gutters">
                    <!--Col One-->
                    <div class="col-6 px-0">
                        <div class="col-auto card-block px-0" style="width:100%; height:100%;">
                            <!--Map-->
                            <div id='map'></div>

                            <!--./Map-->

                        </div>
                    </div>
                    <!--./Col One-->
                    <!--Col Two-->
                    <div class="col-6">
                        <!--Carousel-->
                        <div id="multi-item-example" class="col carousel slide carousel-multi-item" data-ride="carousel" data-interval="false">
                            <!--All Slides-->
                            <div class="carousel-inner" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <!--Header Content-->
                                    <div class="card-block px-2">

                                        <img class="float-left img-fluid" style="width:30%; height:auto; padding-top:0.5em; padding-right:0.5em;" src="data:image/jpeg;base64,@System.Convert.ToBase64String(Model.Item3.Picture)" alt="Portfolio Picture">

                                        <br>
                                        <h4 class="card-title">
                                            @{
                                                var fullName = Model.Item2.Surname + ", " + Model.Item2.FirstName;
                                                @Html.DisplayFor(m => fullName)
                                            }
                                        </h4>
                                    </div>
                                    <!--./Header Content-->
                                    <!--Block Content-->
                                    <div class="card-block px-2" id="block">
                                        <hr>
                                        <h4 class="card-title">About</h4>

                                        <table class="table card-text">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">
                                                        @Html.DisplayNameFor(model => model.Item2.FirstName)
                                                    </th>
                                                    <td>
                                                        @Html.DisplayFor(model => model.Item2.FirstName)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">
                                                        @Html.DisplayNameFor(model => model.Item2.MiddleName)
                                                    </th>
                                                    <td>
                                                        @Html.DisplayFor(model => model.Item2.MiddleName)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">
                                                        @Html.DisplayNameFor(model => model.Item2.Surname)
                                                    </th>
                                                    <td>
                                                        @Html.DisplayFor(model => model.Item2.Surname)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">
                                                        @Html.DisplayNameFor(model => model.Item2.DOB)
                                                    </th>
                                                    <td>
                                                        @Html.DisplayFor(model => model.Item2.DOB)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">
                                                        @Html.DisplayNameFor(model => model.Item2.ServiceNo)
                                                    </th>
                                                    <td>
                                                        @Html.DisplayFor(model => model.Item2.ServiceNo)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">
                                                        @Html.DisplayNameFor(model => model.Item2.Address)
                                                    </th>
                                                    <td>
                                                        @Html.DisplayFor(model => model.Item2.Address)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">
                                                        @Html.DisplayNameFor(model => model.Item2.ShortBio)
                                                    </th>
                                                    <td>
                                                        @Html.DisplayFor(model => model.Item2.ShortBio)
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--./Block Content-->
                                </div>
                                <!--/.First slide-->




                                @for (int i = 0; i < Model.Item1.Count; i++)
                                {
                                    <!--Next slide-->
                                    <div class="carousel-item">
                                        <!--Header Content-->
                                        <div class="card-block px-2">

                                            <img class="float-left img-fluid" style="width:30%; height:auto; padding-top:0.5em; padding-right:0.5em;" src="data:image/jpeg;base64,@System.Convert.ToBase64String(Model.Item3.Picture)" alt="Portfolio Picture">

                                            <br>
                                            <h4 class="card-title">
                                                @{

                                                    @Html.DisplayFor(m => fullName)
                                                }
                                            </h4>
                                        </div>
                                        <!--./Header Content-->
                                        <!--Block Content-->
                                        <div class="card-block px-2" id="block">
                                            <hr>

                                            @foreach (var c in Model.Item1[i].Contents)
                                            {
                                                if (c.type == "image")
                                                {
                                                    <p style="font-weight:bold;">@c.Title</p>


                                                    <img src="data:image;base64,@System.Convert.ToBase64String(c.MultiMedia.Media)" style="width:50%;" />

                                                }
                                                else
                                                {
                                                    <p style="font-weight:bold;">@c.Title</p>

                                                    @System.Text.Encoding.UTF8.GetString(c.MultiMedia.Media)

                                                }
                                            }
                                        </div>
                                        <!--./Block Content-->
                                    </div>
                                    <!--/.Next slide-->
                                }



                            </div>
                            <!--./All Slides-->
                        </div>
                        <!--./Carousel-->
                    </div>
                    <!--./Col Two-->
                </div>
                <!--Card Footer & Navigation-->
                <div class="card-footer w-100 text-muted text-center">
                    <div>
                        <style>
                            div.scrollmenu {
                                background-color: inherit;
                                overflow: auto;
                                white-space: nowrap;
                            }

                                div.scrollmenu a {
                                    display: inline-block;
                                    color: rgba(0,0,0,.03);
                                    text-align: center;
                                    padding: 14px;
                                    text-decoration: none;
                                }

                                    div.scrollmenu a:hover {
                                        background-color: #777;
                                    }
                        </style>
                        <div class="scrollmenu" id="scrollmenu-nav">
                            <a class="btn btn-link highlightElement" style="color:black;margin:1px" data-target="#multi-item-example" data-slide-to="0" id="carousel-slide-0" onclick="setCarouselActive(this.id)">About</a>
                            @foreach (var t in Model.Item1)
                            {
                                <a class="btn btn-link" style="color:black;margin:1px" data-target="#multi-item-example" data-slide-to="@($"{t.Id}")" id="carousel-slide@($"-{t.Id}")" onclick="setCarouselActive(this.Id)">@Html.DisplayFor(m => t.Title)</a>
                            }
                        </div>
                    </div>
                    <!--./Card Footer & Navigation-->
                </div>
                <!--./Cards-->
            </div>
            <!--Right Controls-->
            <a class="col-1 btn-floating align-self-center text-center" href="#multi-item-example" data-slide="next">
                <i class="fa fa-chevron-right"></i>
            </a>
            <!--./Right Controls-->

            <div class="col-1"></div>
        </div>
    </div>
</section>